@model CatAdoption.Models.Cat

@{
    ViewData["Title"] = "Adopt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Would you like to adopt @Model.Name?</h3>

<div class="text-center">
    <img src="~/imgs/@Model.ImagePath" class="img-thumbnail"/>
    <hr />
    <h5>@Model.Gender</h5>
    <h5>Age: @Model.Age</h5>
    <p>@Model.Bio</p>
    <a class="btn btn-primary" asp-action="AdoptSuccess" asp-route-id="@Model.CatId">Adopt</a>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
