@model IEnumerable<CatAdoption.Models.Cat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CatId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Gender</p>
            <p class="card-text">Age: @item.Age</p>
            <p class="card-text">@item.Bio</p>

            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.CatId">Adopt</a>

        </div>
    </div>
}
