@model CatAdoption.Models.CatGenderViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>These fine felines need a home!</h1>
<hr />

<form asp-controller="Cat" asp-action="Index" method="get">
    <p>

        Gender: <select asp-for="CatGender" asp-items="Model.Genders">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />

    </p>
</form>

<div class="d-flex flex-wrap justify-content-around">
    @foreach (var item in Model.Cats)
    {
        <div class="card col-12 col-md-6 col-lg-3 text-center">
            <img src="~/imgs/@item.ImagePath" class="card-img-top" alt="@item.Name">
            <div class="card-body justify-content-center">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Gender</p>
                <p class="card-text">Age: @item.Age</p>
                <p class="card-text">@item.Bio</p>

                <a class="btn btn-primary" asp-action="adopt" asp-route-id="@item.CatId">Adopt</a>

            </div>
        </div>
    }
</div>